<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wacom.ink.samples.drawwithtouch" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/part1"
            android:name=".DrawWithTouchPart01"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part2"
            android:name=".DrawWithTouchPart02"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part3"
            android:name=".DrawWithTouchPart03"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part4"
            android:name=".DrawWithTouchPart04"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part5"
            android:name=".DrawWithTouchPart05"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part6"
            android:name=".DrawWithTouchPart06"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:label="@string/part7"
            android:name=".DrawWithTouchPart07"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
